.container{
  position: relative;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas{
  position: absolute;
  width: 1280px;
  height: 720px;
  background-color: #fff;
  opacity: 30%;
}